<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="SDFAuth" connectionString="Data Source=SHENJIANYIN-PC;User ID=sa;Password=test;Initial Catalog=SDFAuth;Pooling=true" providerName="System.Data.SqlClient" />-->
  <add name="SDFAuth" connectionString="Data Source=SHAGRMWKS6549;User ID=sa;Password=groupm#00;Initial Catalog=SDFAuth;Pooling=true" providerName="System.Data.SqlClient" />
</connectionStrings>