<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccount" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9042/Account.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAccount" contract="AccountService.IAccount"
        name="BasicHttpBinding_IAccount" />
    </client>
  </system.serviceModel>
</configuration>