<?xml version="1.0"?>
<connectionStrings>
  <add name="SDFAuth" connectionString="Data Source=SHENJIANYIN-PC;User ID=sa;Password=test;Initial Catalog=SDFAuth;Pooling=true" providerName="System.Data.SqlClient" />
  <!--System.Data.SqlServerCe.4.0-->
  <add name="Langben" connectionString="Data Source=(local);User ID=sa;Password=test;Initial Catalog=langben;Pooling=true" providerName="System.Data.SqlClient" />
</connectionStrings>