<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <!-- 如果使用CE，先将EDMx文件转成CE格式-->
    <!--<add name="SDFAuth" connectionString="Data Source=Z:\Data.Tests.Db1.sdf" providerName="System.Data.SqlServerCe.4.0" />-->
    <!-- 单元测试使用轻量级的localdb-->
    <add name="SDFAuth" connectionString="Data Source = (localdb)\v11.0;AttachDbFileName = Z:\Database1.mdf " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccount" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9042/Account.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAccount" contract="Contract.IAccount"
        name="Contract.IAccount" />
    </client>
  </system.serviceModel>
</configuration>