@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
    @Html.ActionLink("退出", "Logout", "Account")
</head>
<body>
</body>
    </html>
	
	