<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SDFAuth" connectionString="Data Source=SHENJIANYIN-PC;User ID=sa;Password=test;Initial Catalog=SDFAuth;Pooling=true" providerName="System.Data.SqlClient" />
    <!--System.Data.SqlServerCe.4.0-->
    <add name="Langben" connectionString="Data Source=(local);User ID=sa;Password=test;Initial Catalog=langben;Pooling=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAccount" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9042/Account.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAccount" contract="Contract.IAccount"
        name="Contract.IAccount" />
    </client>
  </system.serviceModel>
</configuration>